
:root {
  --green-1: #3C968B;
  --green-2: #255D57;
  --shadow-color: 173deg 48% 28%;
  --shadow-elevation-medium:
    0px -1px 1.1px hsl(var(--shadow-color) / 0.26),
    0px -2.8px 3.1px -0.9px hsl(var(--shadow-color) / 0.25),
    0px -6.9px 7.6px -1.8px hsl(var(--shadow-color) / 0.24),
    0px -16.8px 18.4px -2.7px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high:
    0px -1px 1.1px hsl(var(--shadow-color) / 0.22),
    0px -3.7px 4.1px -0.3px hsl(var(--shadow-color) / 0.21),
    0px -6.4px 7px -0.7px hsl(var(--shadow-color) / 0.21),
    0px -10px 11px -1px hsl(var(--shadow-color) / 0.21),
    0px -15.2px 16.6px -1.3px hsl(var(--shadow-color) / 0.2),
    0px -22.8px 25px -1.7px hsl(var(--shadow-color) / 0.2),
    0px -33.6px 36.8px -2px hsl(var(--shadow-color) / 0.19),
    0px -48.4px 53px -2.4px hsl(var(--shadow-color) / 0.19),
    0px -68px 74.5px -2.7px hsl(var(--shadow-color) / 0.19);
}
/* ---- Base Rules ---- */
body {
    background: linear-gradient(#000 10%, var(--green-1) 100%);
    margin: 0;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #fff;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid var(--green-1);
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 70vh;
    border-radius: 20px;
    box-shadow: var(--shadow-elevation-medium);
    margin: 20px 0px;
    background: rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

/* ---- Module Rules ---- */
/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background: #000;
}

.navbar__menu li {
    display: inline-block;
    border-radius: 10px;
    margin: 5px 2.5px;
}

.navbar__menu a {
    text-decoration: none;
    color: #fff;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

.navbar__menu .menu__link:hover {
    background: var(--green-2);
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
    text-align: center;
}

.page__footer p{
    color: #fff;
}

.page__footer a{
  color: inherit;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.65);
    box-shadow: var(--shadow-elevation-high);
    transition: 0.3s ease;
}
.menu__link--active {
    background: var(--green-1);
    color: #fff;
    transition: ease 0.3s all;
}
